/* -------------Admin------------- */
.formAdmin {
  height: 960px;
}

.formAdmin-left {
  width: 12%;
  background-color: white;
  height: 100%;
  border-right: 1px solid black;
  text-align: center;
}

.formAdmin-left img {
  width: 100%;
}

.formAdmin-left-item {
  width: 100%;
  background-color: rgb(248, 240, 230);
  height: 80%;
  margin-top: 10%;
  padding-top: 10%;
}

.formAdmin-left-item ul {
  text-align: left;
  padding-left: 10px;
}

.formAdmin-left-item ul li {
  padding: 12px 0;
}

.formAdmin-left-item ul li>button {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background-color: rgb(248, 240, 230);
}
.formAdmin-left-item-button ul{
  display: none;
  padding-left: 30px;
}
.formAdmin-left-item-button ul>li>a{
  font-weight: normal;
  color: #000;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.formAdmin-left-item-button.block ul{
  display: block;
}

.formAdmin-right {
  width: 88%;
  background-color: rgb(141, 135, 135);
  height: 100%;
}

.formAdmin-right-top {
  background-color: red;
  width: 100%;
  height: 5%;
  border-bottom: 1px solid black;
  text-align: center;
  justify-content: center;
  display: flex;
}
.formAdmin-right-top p{
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}
.formAdmin-right-top button{
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  background-color: red;
  border: none;
  border-left: 2px solid #333;
  padding-left: 20px;
}
.formAdmin-right-center {
  width: 98%;
  background-color: whitesmoke;
  height: 20%;
  margin-left: 1%;
  text-align: center;
  padding-top: 0px;
}
.formAdmin-right-center button{
  margin-top: 40px;
  width: 200px!important;
  height: 40px;
  margin-left: 0!important;
  font-size: 20px;
}
.formAdmin-right-center button:hover{
  color: #ffffff;
  background-color: black;
}

.formAdmin-right-center .row input{
  margin-top: 20px;
}

.formAdmin-right-center .row button{
  margin-top: 20px;
  margin-left: 60px!important;
  height: 35px;
  font-weight: bold;
}
.formAdmin-right-center .row button:hover{
  background-color: black;
  color: #ffffff;
}

.formAdmin-right-center-content{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.formAdmin-right-center-content-item{
  width: 25%;
}
.formAdmin-right-center-content-item label{
  font-size: 16px;
  font-weight: bold;
}
 
.formAdmin-right-center-content-item input{
  width: 200px;
  height: 30px!important;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.formAdmin-right-center-content-item button{
  width: 100px!important;
  height: 30px!important;
  margin-top: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.formAdmin-right-center p {
  padding-top: 10px;
  font-size: 18px;
}

.formAdmin-right-center h1 {
  padding-top: 10px;
}
.formAdmin-right-center input {
  margin-left: 1%;
  height: 10px;
}

.formAdmin-right-center button {
  margin-left: 10%;
  width: 10%;
}


.formAdmin-right-bottom {
  width: 98%;
  background-color: whitesmoke;
  height: 75%;
  margin-left: 1%;
  overflow: auto;
}
/* -------Product------- */

.formAdmin-right-bottom-product{
  justify-content: center;
  margin-left: 22%!important;
  width: 80%!important;
}

.formAdmin-right-bottom-product-row{
  display: flex;
}

.formAdmin-right-bottom-product-item{
  margin-top: 40px;
  margin-left: 100px;
}
.formAdmin-right-bottom-product-item label{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.formAdmin-right-bottom-product-item span{
  color: red;
}
.formAdmin-right-bottom-product-row:nth-child(2) input{
  width: 700px!important;
  height: 40px;
}
.formAdmin-right-bottom-product-row:nth-child(4) input{
  width: 700px!important;
  height: 100px;
}
.formAdmin-right-bottom-product-item input{
  width: 300px!important;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
}
.formAdmin-right-bottom-product-item img{
  text-align: left;
  height: 300px;
}
.formAdmin-right-bottom-product-item button{
  margin-bottom: 100px;
  width: 10%;
  height: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 48%;
}

/* -----User---- */

.formAdmin-right-bottom-user{
  justify-content: center;
  margin-left: 22%!important;
  width: 80%!important;
}
.formAdmin-right-bottom-user-row{
  display: flex;
}
.formAdmin-right-bottom-user-item{
  margin-top: 40px;
  margin-left: 100px;
}

.formAdmin-right-bottom-user-item span{
  color: red;
}

.formAdmin-right-bottom-user-item label{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.formAdmin-right-bottom-user-item input{
  width: 300px!important;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
}
.formAdmin-right-bottom-user-item button{
  margin-bottom: 100px;
  width: 10%;
  height: 40px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 47%;
}

/* .formAdmin-right-bottom img {
  width: 80px;
  height: 80px;
} */
/* -----Bang----- */
.formAdmin-right-bottom-table {
  border: 1px solid black;
  width: 100%;
}
.formAdmin-right-bottom-table tr{
  text-align: center;
  font-size: 16px;
}

.formAdmin-right-bottom-table-thead th {
  border: 1px solid black;
}
.formAdmin-right-bottom-table td:nth-child(2){
  width: 20%;
}
.formAdmin-right-bottom-table td:nth-child(3){
  width: 10%;
}
.formAdmin-right-bottom-table td:nth-child(4){
  width: 10%;
}
.formAdmin-right-bottom-table td:nth-child(5){
  width: 10%;
}
.formAdmin-right-bottom-table td:nth-child(6){
  width: 10%;
}
.formAdmin-right-bottom-table td:nth-child(7){
  width: 10%;
}
.formAdmin-right-bottom-table td:nth-child(11){
  width: 10%;
}

.formAdmin-right-bottom tbody img {
  width: 50%;
  height: auto;
}
.formAdmin-right-bottom tbody button:first-child{
  margin-top: 10px;
}
.formAdmin-right-bottom tbody button{
  margin-bottom: 10px;
  width: 50%;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.formAdmin-right-bottom-table {
  border: 1px solid black;
  width: 100%;
}
.formAdmin-right-bottom-table-thead th{
  border: 1px solid white;
  background-color: black;
  color: white;
}
.formAdmin-right-bottom-table td {
  border: 1px solid black;
}
.formAdmin-right-bottom-table td button {
  background-color: #61dafb;
}
/* ------Don-hang---- */
.checkbill-contenta p{
  text-align: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.checkbill-content {
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 0;
}
.checkbill-content table {
  width: 100%!important;
  text-align: center;
}

.checkbill-content table th {
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #333;
}

.checkbill-content table td {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  padding: 10px 0;
  border-collapse: collapse;
  border-bottom: 2px solid #333;
  padding-bottom: 50px;
}

.checkbill-content table button:first-child{
  margin-bottom: 30px;
}

.checkbill-content table button {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  width: 100px;
  height: 30px;
}

.checkbill-content table button:first-child:hover{
  background-color: rgb(113, 175, 51);
}

.checkbill-content table button:hover{
  background-color: red;
}

.checkbill-content table table {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.checkbill-content table table th {
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;
  border-collapse: collapse;
  border-bottom: 2px solid #dddddd;
}

.checkbill-content table table p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  font-weight: 100;
}

.checkbill-content table table td {
  padding: 20px 0;
  border-bottom: 2px solid #dddddd;
}

.checkbill-content table table td:first-child img {
  width: 100px;
  height: auto!important;
}

.checkbill-content table table td:nth-child(2) {
  max-width: 150px;
}

/* -----Dialog------ */
.dialog-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px 30px 40px;
  border: 1px solid #888;
  width: 25%!important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.dialog-content h3 {
  margin-top: 0;
  margin-bottom: 20px;
}

.dialog-content label {
  display: block;
  margin-bottom: 10px;
}

.dialog-content input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.dialog-content-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.dialog-content-button button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

.dialog-content button:hover {
  background-color: #45a049;
}